.post-view {
  .post-view__title {
    margin: 0;
    font-size: 2em;
    line-height: 1.2;
  }

  .post-view__date {
    margin-top: .3em;
    color: #666;
    font-size: 0.8em;
  }

  .post-view__content {
    margin-top: 1em;

    img {
      max-width: 100%;
      margin: 1em 0;
      border-radius: .3em;
    }
  }
}

.post-list {
  .post-list__item {
    margin-bottom: 1.5em;

    .post-list__title {
    }

    .post-list__date {
      margin-bottom: .5em;
      color: #666;
      font-size: 0.8em;
    }
  }
}
