$height: 2.1em;

.multiselect {
  position: relative;
  z-index: 10;
  width: 50%;

  &.open {
    .multiselect__dropdown {
      display: block;
    }

    .multiselect__input {
      border-bottom: none;
    }

    .multiselect__backdrop {
      display: block;
    }
  }

  &__input {
    width: 100%;
  }

  &__dropdown {
    position: absolute;
    z-index: 1000;
    right: 0;
    left: 0;
    display: none;
    width: 100%;
    max-height: $height * 4;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    overflow-y: auto;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
    height: $height;
    padding: 0 1rem;
    border-bottom: 1px solid #ccc;

    &.selected {
      background-color: #999999;
    }

    &:hover {
      background-color: #eee;
      cursor: pointer;
      transition: .10s background-color ease-in;
    }

    &:first-of-type {
      font-style: italic;
    }
  }
}
