@import "../../styles/_variables";

.title {
  max-width: 24em;
  padding: 0;
  margin: 0;
  font-size: $font-size-title;
  line-height: 1.2;
}

.details {
  margin-top: .4em;
  color: #666;
  font-size: $font-size-small;
  vertical-align: baseline;

  span:first-child {
    margin-right: .5em;
  }
}

.content {
  > p {
    max-width: 42em;
  }

  > ul,
  > ol {
    padding-left: 1rem;

    @media (min-width: $sm) {
      padding-left: 2rem;
    }
  }

  pre {
    //z-index: -1;
    padding: 8px 0;
    margin: 0;
    position: relative;
    overflow: hidden;

    code {
      display: block;
      white-space: pre;
      padding: 1em 0;
      overflow-x: scroll;
    }
  }


  > img {
    max-width: 100%;
    margin: 1em 0;
    border-radius: .3em;
  }


  @media (min-width: $sm) {
    margin-top: 1em;
  }
}
