@font-face {
  font-family: "Londrina Shadow";
  src: url('../fonts/Londrina_Shadow/LondrinaShadow-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src: url('../fonts/Fira_Sans/FiraSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu Mono";
  src: url('../fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
