@font-face {
  font-family: "Fira Sans";
  src: url('../fonts/Fira_Sans/Fira-Sans-Regular.woff2') format('woff2'), url('../fonts/Fira_Sans/Fira-Sans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Ubuntu Mono";
  src: url('../fonts/Ubuntu_Mono/Ubuntu-Mono-Regular.woff2') format('woff2'), url('../fonts/Ubuntu_Mono/Ubuntu-Mono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
