.post-form {
  width: 50%;
  padding-top: 2em;

  .post-form__label {
    display: block;
    margin-bottom: .5em;
  }

  .post-form__input {
    margin-bottom: 1em;
    width: 100%;
  }

  .post-form__textarea {
    margin-top: 1em;
    width: 100%;
  }

  .post-form__button {
    display: block;
    margin-top: 1em;
  }
}
