.post-form {
  width: 50%;
  padding-top: 2em;

  .post-form__label {
    display: block;
    margin-bottom: .5em;
  }

  .post-form__input {
    margin-bottom: 1em;
    width: 100%;
  }

  .post-form__textarea {
    margin-top: 1em;
    width: 100%;
  }

  .post-form__button {
    display: block;
    margin-top: 1em;
  }
}

.blogs-section {
  margin: 2em 0;

  .blogs-table {
    width: 50%;
    padding: 1em;

    .blogs-table__head th {
      border-bottom: 1px solid gray;

      &:first-child {
        text-align: left;
      }
    }

    .blogs-table__body {

      td:not(:first-child) {
        text-align: center;
      }
    }

    td {
      padding: .5em 0;
    }
  }
}

.fa-icons {
  svg {
    height: 1em;
  }

  &:not(:last-child) {
    margin-right: .7em;
  }

  &.with-text {
    display: flex;
    align-items: center;

    svg {
      margin-right: .5em;
    }
    color: inherit;
  }
}
