.post-form {
  width: 50%;

  .post-form__label {
    display: block;
    margin-bottom: .5em;
  }

  .post-form__input {
    margin-bottom: 1em;
    width: 100%;
  }

  .post-form__textarea {
    margin-top: 1em;
    width: 100%;
  }

  .post-form__button {
    display: block;
    margin-top: 1em;
  }
}

.blogs-section {
  margin: 2em 0;

  .blogs-table {
    width: 50%;
    padding: 1em;

    .blogs-table__head th {
      border-bottom: 1px solid gray;

      &:first-child {
        text-align: left;
      }
    }

    .blogs-table__body {

      td:not(:first-child) {
        text-align: center;
        white-space: nowrap;
        padding: 0 .7em;
      }
    }

    td {
      padding: .5em 0;
    }
  }
}

.fa-icons {
  svg {
    height: 1em;
  }

  &:not(:last-child) {
    margin-right: .7em;
  }

  &.with-text {
    display: flex;
    align-items: center;

    svg {
      margin-right: .5em;
    }
    color: inherit;
  }
}

$height: 2.1em;

.multiselect {
  width: 50%;
  position: relative;
  z-index: 10;

  &.open {
    .multiselect__dropdown {
      display: block;
    }

    .multiselect__input {
      border-bottom: none;
    }

    .multiselect__backdrop {
      display: block;
    }
  }

  &__input {
    width: 100%;
  }

  &__dropdown {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    left: 0;
    right: 0;
    max-height: $height * 4;
    overflow-y: auto;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.3);
    z-index: 1000;
    width: 100%;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    height: $height;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;

    &.selected {
      background-color: #999999;
    }

    &:hover {
      background-color: #eee;
      cursor: pointer;
      transition: .10s background-color ease-in;
    }

    &:first-of-type {
      font-style: italic;
    }
  }
}
