form {
  input, textarea {
    padding: .4em;
    border: 1px solid #ececec;
    border-radius: 3px;
    font: inherit;

    &:focus {
      outline: none;
      border: 1px solid #363636;
      border-radius: 3px;
    }
  }

  textarea {

  }
}

.tag {
  display: inline-flex;
  align-items: center;
  padding: .2em .4em;
  margin-right: .3em;
  border-radius: .5em;
  background-color: #ececec;
  font-size: 0.7em;

  svg {
    height: 1em;
    margin-left: .2em;
    cursor: pointer;
  }
}
