@import "fonts";
@import 'variables';

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-regular;
  font-size: $font-size-normal;
  color: $text-primary-color;
  background-color: $primary-color;

}

#__next {
  display: grid;
  min-width: 380px;
  margin: 0 auto;
  grid-template-columns: 1fr;
}

pre {
  padding: .5em;
}

code {
  font-family: $font-family-code;
  font-size: $font-size-small;
}

a {
  text-decoration: none;
  color: $text-primary-color;

  &:visited,
  &:focus {
    color: $text-primary-color;
  }
}

@media (min-width: $sm) {
  #__next {
    height: 100vh;
    grid-template-columns: 20% 1fr;
    grid-template-rows: min-content 1fr;

    header {
      margin-bottom: 0;
      grid-row-start: 1;
      grid-column-start: 1;
      grid-column-end: span 3;
    }

    & > main {
      grid-column-start: 2;
      grid-row-start: 2;
      grid-row-end: span 2;
    }
  }
}
