@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap');
@import "/styles/variables.scss";
@import "/styles/admin.scss";

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  font-family: 'Source Sans Pro', sans-serif;
  overflow: auto;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: $textColor;
  background-color: $contentBackgroundColor;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}



.link {
  color: $sideLinkColor;
  text-decoration: none;
  font-family: 'IBM Plex Sans', sans-serif;

  &.auth {
    color: $sideLinkColor;
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: small;
  }


  &:hover {
    color: $sideLinkColorHover;
    text-decoration: underline;
  }
}

.link-auth {
  margin-top: auto;
}

.info {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.noLink {
  color: #ffffff;
  text-decoration: none;
  border: none;
}

.post-list {
  list-style: none;
  padding: 0;
  margin: 0;

  .post-list__item {
    margin: 0 0 1.25rem;

    .post-list__title {
      font-weight: bold;
      color: $textColor;
    }

    .post-list__date {
      margin: 0;
      font-size: 0.8em;
      color: #666;
    }
  }
}

.post-view {
  width: 50%;

  .post-view__title {
    font-size: 2rem;
    margin: 0;
  }

  .post-view__date {
    font-size: 0.8em;
    color: #666;
  }

  .post-view__content {

  }
}


