@import "_fonts";
@import '_variables';
@import "hamburger";


* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-regular;
  font-size: $font-size-normal;
  color: $text-primary-color;
  background-color: $primary-color;
}

#__next {
  height: 100vh;
}

pre {
  padding: .5em;
}

code {
  font-family: $font-family-code;
  font-size: $font-size-small;
}

a {
  text-decoration: none;
  color: $text-primary-color;

  &:hover {
    filter: brightness(1.7);
  }

  &:visited,
  &:focus {
    color: $text-primary-color;
  }
}
