.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  color: $menuTextColor;

  a {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
}

.content {
  background-color: $contentBgColor;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow: auto;
}

.layout__menu__avatar {
  border-radius: 9999px;
  border: 2px solid #666666;
}

.link {
  margin-bottom: .7em;
  color: $menuLinkColor;
  font-family: 'IBM Plex Sans', sans-serif;
  text-decoration: none;

  &.auth {
    color: $menuLinkColor;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: small;
    text-decoration: none;
  }


  &:hover {
    color: $menuLinkColorHover;
    text-decoration: underline;
  }
}

.noLink {
  border: none;
  color: $textColor;
  text-decoration: none;
}
.layout__back {
  margin: 3rem 0 0;
}
