.menu {
  display: flex;
  align-items: center;
  padding: 2rem 1rem 1rem;
  color: $menuTextColor;

  .menu__image-wrapper {
    margin: 0 1rem 1rem 0;

    @media (min-width: 768px) {
      margin: 0;
    }
  }

  .menu__avatar {
    width: 40px;
    height: 40px;
    padding-right: 1em;
    border-radius: 9999px;
  }

  .menu__text-links {
    display: flex;
    flex-direction: column;

    .menu__link {
      margin: 0 1rem 0 0;
      border: none;
      color: $text-primary-color;
      text-decoration: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;
    }

    .menu__title {
      margin: 0 0 .3em 0;
      font-size: $font-size-title;
    }

    .menu__slogan {
      text-align: center;
      margin: 0;
    }
  }

  @media (min-width: 768px) {
    flex-direction: column;

    .menu__image-wrapper {
      margin-bottom: 1em;
    }

    .menu__title {
      text-align: center;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: .5rem 1rem 1rem;
  overflow: auto;

  .content__back {
    font-size: $font-size-small;
    margin-bottom: 1rem;
  }

  .post-view__title {
    max-width: 24em;
    padding: 0;
    margin: 0;
    font-size: $font-size-title;
    line-height: 1.2;
  }

  .post-view__details {
    margin-top: .4em;
    color: #666;
    font-size: $font-size-small;
    vertical-align: baseline;

    span:first-child {
      margin-right: .5em;
    }
  }

  .post-view__content {
    margin-top: 1em;

    p {
      max-width: 35em;
    }

    img {
      max-width: 100%;
      margin: 1em 0;
      border-radius: .3em;
    }
  }

  .post-list {
    padding: 0;
    margin: 1rem 0 0;

    .post-list__item {
      margin-bottom: 1.5em;
      list-style: none;

      .post-list__title {
        text-decoration: none;
        font-weight: 700;
        font-size: $font-size-bigger;
        color: $text-primary-color;
      }

      .post-list__details {
        margin-top: .4em;
        color: #666;
        font-size: $font-size-small;
        vertical-align: baseline;

        * {
          font-size: inherit;
        }

        span:first-child {
          margin-right: .5em;
        }

      }
    }
  }

  @media (min-width: 768px) {
    padding-top: 2rem;
  }
}

.tags {
  padding: 1em 1.3em;

  * {
    margin-bottom: .5em;
    margin-left: .2em;
  }
}

.tag {
  display: inline-flex;
  align-items: center;
  line-height: 1.2;
  padding: .2em .5em;
  margin-right: .3em;
  border-radius: .5em;
  background-color: hsl(163, 40%, 90%);
  font-size: $font-size-small;

  &:hover {
    background-color: hsl(163, 40%, 85%);
  }

  svg {
    height: 1em;
    margin-left: .2em;
    cursor: pointer;
  }

  &.tag-selectable {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    &.tag-selectable--active {
      background-color: hsl(163, 40%, 70%);
      transition: background-color 0.4s ease;
    }
  }
}
