@import "/styles/variables.scss";

.heading2Xl {
  margin: 1rem 0;
  border: 1px solid brown;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: -0.05rem;
}

.headingXl {
  margin: 0 0 1rem 0;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: -0.05rem;
}

.headingLg {
  margin: 1rem 0;
  border: 1px solid green;
  font-size: 1.5rem;
  line-height: 1.4;
}

.headingMd {
  height: 100%;
  font-size: 1.2rem;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: auto;

}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}



