$bodyBgColor: #ffffff;
$contentBgColor: #ebf4ec;

$textColor: #363636;

$menuTextColor: #333333;
$menuLinkColor: #666666;
$menuLinkColorHover: #333333;
$buttonTextHover: #B25E8E;

$inputBorder: #DBD8DB;
$inputBorderHover: #2C7155;
$inputText: #666666;
$inputPlaceholder: #999999;
