@import '../../styles/_variables';

.header {
  grid-area: header;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 0 .25rem 1rem;
  background-color: $primary-color;
  box-shadow: -1px 2px 30px -10px rgba(51, 51, 51, 0.1);
  margin-bottom: .7rem;

  .logo {
    cursor: pointer;
    height: 52px;
    padding: 8px 0 5px;
    margin-bottom: 10px;
    position: relative;

    .logoSlogan {
      font-family: $font-family-regular;
      font-size: $font-size-wee;
      position: absolute;
      right: 0;
      bottom: -6px;
      user-select: none;
    }

    @media (min-width: $sm) {
      height: 76px;

      .logoSlogan {
        font-size: $font-size-tiny;
        bottom: -6px;
      }
    }
  }

  .menu {
    display: flex;
    align-content: center;

    .toggleBtn {
      display: block;
      z-index: 1;

      @media (min-width: $sm) {
        display: none;
      }
    }
  }
}
