@import '../../styles/variables';

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: $primary-color;
  box-shadow: -1px 2px 30px -10px rgba(51, 51, 51, 0.1);
  margin-bottom: 1rem;

  .logo {
    padding-bottom: .5rem;
    cursor: pointer;

    .logoText {
      font-family: 'Londrina Shadow', cursive;
      font-size: 52px;
      position: relative;
      user-select: none;

      @media (min-width: $sm) {
        font-size: 76px;
      }

      .logoSlogan {
        font-family: $font-family-regular;
        font-size: $font-size-small;
        position: absolute;
        right: 0;
        bottom: -6px;
        user-select: none;

        @media (min-width: $sm) {
          bottom: 0;
        }
      }
    }
  }

  .menu {
    display: flex;
    align-content: center;

    .toggleBtn {
      display: block;
      z-index: 1;

      @media (min-width: $sm) {
        display: none;
      }
    }
  }
}
